body {
    background-image:
        linear-gradient(rgba(23, 24, 34, 0.600),
            rgba(23, 24, 34, 0.600)),
        url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/dark-blue-grunge-background-caracterdesign.jpg");
}

.title-head {
    color: white;
}

.desc-head {
    color: white;
}

.del-head {
    color: white;
}

hr {
    border-top: 1px solid white;
}